html {
    font-family: sans-serif;
    box-sizing: border-box;

    & * {
        box-sizing: inherit;
    }
}

.greetings {
    @mixin padding lg;
    color: tomato;
}

.description {
    @mixin fontSize 86;
    @mixin padding lg;
    line-height: 1.5;
}

.button {
    border: 1px solid;
    outline: 0;
    margin: .5rem;
    cursor: pointer;

    &--default {
        @mixin button teal , white, tomato;
    }
    &--mono {
        @mixin button white, gray, black;
    }
}
