html {
    font-family: sans-serif;
    @mixin fontSize 16;
    box-sizing: border-box;

    & * {
        box-sizing: inherit;
    }
}

.greetings {
    @mixin padding md;
    color: tomato;
}

.description {
    @mixin fontSize 48;
    @mixin padding sm;
    line-height: 1.5;
}

.button {
    @mixin fontSize 16;
    border: 1px solid;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    margin: 1rem;

    &--default {
        @mixin button teal , white, tomato;
    }
    &--mono {
        @mixin button white, gray, black;
    }
}
